<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<title>Product List</title>



</head>

<body>
	<div class="container">
	<div >
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item:${list}">
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></tdth>
				<td th:text="${item.qty}"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<a href="/prdForm">BAck To Home</a>
	</div>
		
</body>

</html>